@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}


/*  MOBILE DESIGN FIRST */

body {  
  background-color:hsl(204, 43%, 93%);
}

.attribution {
  margin-top: 10px;
}

.container {
  padding: 50px 30px;
  background-color:hsl(204, 43%, 93%);
  max-width: 400px;
  width: 375px;
  margin: auto;  
}

.hero {
  background-color: white;
  padding: 30px 20px;
  margin: auto;
  border-radius: 5px 5px 0 0;
}

.hero h1 {
  color:hsl(179, 62%, 43%);
  font-size: 1.3rem;
  margin-bottom: 20px;
  letter-spacing: -1px;
  font-weight: 700;
}

.hero h2 {
  color:hsl(71, 73%, 54%);
  margin-bottom: 20px;
  font-size: 1rem;
}

.hero p {
  opacity: 0.3;
  line-height: 25px;
  font-size: 0.9rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.price span {
  margin-left: 10px;  
}

.subscription {
  background-color:hsl(179, 62%, 43%);
  color: white;
  padding: 20px 25px 8px 25px;  
  
}

.subscription h3 {
  font-size: 1.2rem;
  margin-top: 8px;
  margin-bottom: 20px;
}

.subscription span {
  opacity: 0.5;
  font-size: 1rem;
  font-weight: 400;  
}

.subscription .text {
  font-size: 1rem;
  margin-bottom: 30px;
}

.subscription .btn {
  text-align: center;
  margin: auto;
}

.subscription button {
  width: 100%;
  padding: 13px;
  color:white;
  background-color:hsl(71, 73%, 54%);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 4px 8px 12px hsl(179, 62%, 37%);
}

.subscription button:hover {
  color:hsl(71, 73%, 54%);
  background-color:hsl(204, 43%, 93%);
  transition: 0.3s;
}

.why-us {
  background-color:hsl(179, 62%, 43%);
  opacity: 0.8;
  color: hsl(204, 43%, 93%);
  padding: 20px 25px 10px 25px;
  border-radius: 0 0 5px 5px;
}

.why-us h3 {
  font-size: 1.2rem;
  margin: 0;
  margin-top: 8px;
}

.why-us p {
  margin-top: 15px;
  font-size: 0.9rem;
  opacity: 0.9;
  line-height: 20px;
  margin-bottom: 18px;
}

/* DESKTOP DESIGN */

@media only screen and (min-width: 600px) {
   
  .body {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .container {
    max-width: 700px;
    width: 100%;
    margin: auto; 
  }

  .hero {
    height: 45%;
    padding: 40px;   
    border-radius: 8px 8px 0 0; 
  }

  .hero h1 {
    font-size: 1.6rem;
  }

  .hero h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .hero p {
    font-size: 1.1rem;
    /*width: 90%;*/
  }

  .subscription {
    border-radius: 0 0 0 8px;
  }

  .subscription span {
    font-size: 1.1rem;
  }

  .subscription .text {
    font-size: 1.1rem;
    margin-right: -5px;
  }

  .subscription .btn {
    margin-right: -5px;
  }

  .why-us {
    border-radius: 0 0 8px 0;
  }

  .why-us p {
    font-size: 1rem;
    letter-spacing: -0.7px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0 0 10px 10px;
  }

  .attribution {
    margin-top: 10px;
  }

  .subscription, .why-us {
    padding: 40px 40px 20px 40px;

  }
  
} 